<h1>answers from the oracle</h1>
<div class="client-box">
    <p class="result">
        <%= @client_answer %>
    </p>
    <span>-It's Me :) </span>
</div>
<div class="answer-box">
    <p class="result">
        <%= @result %>
    </p>
    <span>-Your Coach</span>
</div>
<div class="link-box">
    <%= link_to "back to Ask a Question", ask_path %>
</div>